@import "vars";
@import "mixins";
@import "fonts";
@import "vendor/reset";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $white;

  font-family: "GothamPro-Regular", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: $primary;
}

a {
  text-decoration: none;
  color: $primary;

  &:hover {
    color: $secondary;
  }
}

/* Vendors */

/* Blocks */

@import "blocks/page";
@import "blocks/container";
@import "blocks/section";
@import "blocks/header";
@import "blocks/intro";
@import "blocks/exp";
@import "blocks/afterwork";
@import "blocks/footer";

.hide {
  display: none;
}

.show {
  display: block;
}

.rub {
  line-height: 9px;
  width: 0.3em;
  border-bottom: 1px solid $black;
  display: inline-block;
}
