<footer class="footer nav_block" id="footer">

    <div class="footer__map">
        <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9cc124535aafa339a1fc2f97d8851b7d3091da50ff664993f2c37c4efe08b729&amp;width=100%25&amp;height=785&amp;lang=ru_RU&amp;scroll=false">
            </script>
    </div>

    <div class="container">
        <div class="footer__inner">
            <div class="footer__content">
                <svg class="footer__logo-svg">
                    <use xlink:href="#logo"></use>
                </svg>

                <div class="footer__office">
                    <p class="footer__office-title">Офис</p>
                    <p class="footer__office-adress">Иркутск, Байкальская 203</p>
                </div>
                <div class="footer__tel">
                    <p class="footer__tel-title">Телефон</p>
                    <a href="+73952799343" class="footer__tel-num">+7 (3952) 799-343</a>
                </div>
                <div class="footer__social">
                    <p class="footer__social-title">Напишите нам</p>
                    <a class="header__social-link header__social-link--viber" href="#">Viber</a>
                    <a class="header__social-link header__social-link--whatsapp" href="#">Whatsapp</a>
                    <a class="header__social-link header__social-link--telegram" href="#">Telegram</a>
                </div>
                <div class="footer__mail">
                    <p class="footer__mail-title">Почта</p>
                    <a href="mailto:info@geo-gart.com" class="footer__mail-link">info@geo-gart.com</a>
                </div>
                <p class="footer__dev">
                    Разработка <a href="#" class="footer__dev-name">DevMinrat</a>
                </p>
                <div class="footer__copy">
                    ООО «ГАРТ», 2021. Все права защищены.
                </div>
            </div>
        </div>
    </div>

    <a href="#header" class="footer__top">
        <img class="footer__top-arrow footer__top-arrow--first" src="assets/images/footer/totop-arrow.png" alt="">
        <img class="footer__top-arrow footer__top-arrow--second" src="assets/images/footer/totop-arrow.png" alt="">
        Наверх
    </a>
</footer>