<div class="navigate">
    <div class="navigate__dot"></div>
    <a href="#intro" class="navigate__item active">
        <span class="navigate__item-num">01</span>
        <span class="navigate__item-text">Бурение</span>
    </a>
    <div class="navigate__dot"></div>
    <a href="#exp" class="navigate__item">
        <span class="navigate__item-num">02</span>
        <span class="navigate__item-text">Опыт работы</span>
    </a>
    <div class="navigate__dot"></div>
    <a href="#afterwork" class="navigate__item">
        <span class="navigate__item-num">03</span>
        <span class="navigate__item-text">Сравнение</span>
    </a>
    <div class="navigate__dot"></div>
    <a href="#mediators" class="navigate__item">
        <span class="navigate__item-num">04</span>
        <span class="navigate__item-text">Техника</span>
    </a>
    <div class="navigate__dot"></div>
    <a href="#guaranties" class="navigate__item">
        <span class="navigate__item-num">05</span>
        <span class="navigate__item-text">Качества</span>
    </a>
    <div class="navigate__dot"></div>
    <a href="#documents" class="navigate__item">
        <span class="navigate__item-num">06</span>
        <span class="navigate__item-text">Гарантии</span>
    </a>
    <div class="navigate__dot"></div>
    <a href="#results" class="navigate__item">
        <span class="navigate__item-num">07</span>
        <span class="navigate__item-text">Результат</span>
    </a>
    <div class="navigate__dot"></div>
    <a href="#howwork" class="navigate__item">
        <span class="navigate__item-num">08</span>
        <span class="navigate__item-text">Схема работы</span>
    </a>
    <div class="navigate__dot"></div>
    <a href="#footer" class="navigate__item">
        <span class="navigate__item-num">09</span>
        <span class="navigate__item-text">Контакты</span>
    </a>
    <div class="navigate__dot"></div>
</div>