<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    {{> sprite }}

    <div class="page">

        <!-- Header -->

        {{> header }}

        <!-- Main content -->
        <main>

            {{> body }}

        </main>

        <!-- Footer -->
        {{> footer }}
        {{> navigate }}
    </div>

    <!-- JS -->
    <script src="assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
    </script>
    <script>
        var wow = new WOW({
            boxClass: 'wow',
            animateClass: 'animate__animated',
            offset: 100,
        })
        wow.init();
    </script>
</body>

</html>